PROJECT_ENDPOINT=https://foundry7159.services.ai.azure.com/api/projects/aif7159-standard-agent-project
MODEL_DEPLOYMENT_NAME=gpt-4.1-mini-1
APPLICATIONINSIGHTS_CONNECTION_STRING=Instr***
AZURE_EXPERIMENTAL_ENABLE_GENAI_TRACING=true
ENABLE_SENSITIVE_DATA=true